#t01 {
	background-color: #fffcde
}
#t02 {
	color: #ad4024
}
body {
	background-image: url(black.jpg)
}
.latar {
	width: 830px;
	margin: auto;
	background-color: #ffecc4
}
.isi {
	padding: 15px
}
.isi h2 {
	text-align: center;
}
.isi table {
	margin-bottom: 10px
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
}
.foto {
	align-content: center;
}
.tulisan th, td{
	text-align: left;
}