#t01 {
	background-color: #fffcde
}
#t02 {
	color: #ad4024
}
body {
	background-image: url(black.jpg)
}
.latar {
	width: 830px;
	margin: auto;
	background-color: #ffecc4
}
.isi {
	padding: 15px
}
.isi p {
	text-align: justify
}
.identitas {
	max-width: 1200px;
	margin: auto;
}
button {
	text-decoration: none;
	float: right;
	margin-top: 20px;
	padding: 10px;
	transition: 0.5s;
	background-color: transparent;
	border: 1px solid;
	margin-right: 20px;
	color: white;
}
