*{
	margin: 0px;
	padding: 0px;
	font-family: geneva;
}
header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(black.jpg);
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	margin-top: 20px;
}
ul li {
	display: inline-block;
}
ul li a {
	color: white;
	padding: 20px;
	transition: 0.5s;
}
.identitas {
	max-width: 1200px;
	margin: auto;
}
.judul {
	position: absolute;
	top: 50%;
	left: 50%;
}
.judul h1 {
	color: white;
	font-size: 65px
	text: bold;
}
.button {
	position: absolute;
	top: 65%;
	left: 50%;
	color: white;
	transition: 0.5s;
}
.btn:hover {
	background-color: white;
	color: black;
}